/* @font-face {
  font-family: "UTM Swiss 721 Black Condensed";
  src: url(/font/UTM-Swiss-721-Black-Condensed.ttf);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Outfit" !important;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}
.bg-banner {
  background-image: url("/images/Heading.png");
  background-size: 100% 100%;
  height: 100vh;
}
.text-banner {
  font-weight: 800;
  font-size: 80px;
  line-height: 100%;
}
.text-banner span {
  background: -webkit-linear-gradient(96.55deg, #0085ff 0%, #ad00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slogan-banner {
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
}
.btn-enter-app {
  background: linear-gradient(96.55deg, #0085ff 0%, #ad00ff 100%);
  box-shadow: 6px 4px 20px rgba(255, 0, 199, 0.25),
    -6px 4px 30px rgba(17, 149, 244, 0.25),
    inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 60px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.05em;
  color: #ffffff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
}
.btn-menu {
  width: 46px;
  height: 40px;
}
.what-is--card-content {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 6px 4px 25px rgba(0, 0, 0, 0.05),
    -6px 4px 25px rgba(255, 255, 255, 0.15);
  border-radius: 40px;
}
.title-header {
  font-weight: 900;
  font-size: 65px;
  line-height: 82px;
}
.title-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.content-header {
  font-weight: 800;
  font-size: 25px;
  line-height: 20px;
}
.content-body {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
}
#change_background {
  background-image: url("/images/sneaker.png");
  background-size: cover;
  height: auto;
  transition: all 0.5s ease;
  padding: 60px 0;
}
.bg-milestone {
  background-image: url("/images/roadmap_bg.png");
  height: auto;
  background-size: cover;
  padding: 60px 0;
}
.overlay {
  left: 0;
  transition: all 0.5s ease;
}
.overlay.anim {
  left: 0;
  bottom: 0;
  animation: menu-anim 1.5s 1 ease-out forwards;
  width: 25%;
  transition: all 0.5s ease;
}
.overlay.anim.reverse-anim {
  left: 0;
  bottom: 0;
  animation: menu-anim 1.5s 1 ease-out reverse;
  width: 25%;
  transition: all 0.5s ease;
}
.overlay ul {
  font-weight: 800;
  font-size: 40px;
  line-height: 35px;
}
.overlay ul li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 10px 0;
  overflow: hidden;
}
.overlay ul li a:after {
  display: block;
  border-radius: 2px;
  content: "";
  left: 0;
  bottom: -10px;
  height: 5px;
  background: linear-gradient(96.55deg, #0085ff 0%, #ad00ff 100%);
  transform: translateX(-101%);
  border-radius: 8px;
}
.overlay ul li a:hover {
  text-decoration: none;
}
.overlay ul li a.active:after {
  animation: border-anim 0.5s 1 ease normal;
  transform: translateX(0);
}
@-webkit-keyframes border-anim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes menu-anim {
  0% {
    left: 0;
    bottom: -99%;
    width: 100%;
  }
  33% {
    left: -99.5%;
    bottom: -99%;
    width: 100%;
  }
  66% {
    left: -99.5%;
    bottom: 0;
    width: 100%;
  }
  100% {
    bottom: 0;
    left: 0;
    width: 25%;
  }
}
.img-sneaker,
.img-land,
.img-social {
  width: 45px;
  transition: all 0.5s ease;
}
.slider-content .card-content {
  background-image: none;
}
.slider-content .title-header {
  line-height: 23px !important;
}
.list-item:hover {
  cursor: pointer;
}
.sneaker,
.land,
.social {
  transition: all 0.5s ease;
}
.bg-footer {
  min-height: 300px;
  background: linear-gradient(276.49deg, #ecf6ff -1.59%, #fff8df 100%);
}
.coppy-right {
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
}
.banner-right {
  text-align: center;
}
.bg-what-is-moverse {
  background: linear-gradient(276.49deg, #ecf6ff -1.59%, #fff8df 100%);
  height: auto;
  padding: 60px 0;
}
