@media (max-width: 600px) {
  .coppy-right {
    font-size: 11px;
    line-height: 17px;
  }
  .bg-footer {
    height: auto;
    padding: 20px 0;
    min-height: auto;
  }
  .text-banner {
    font-size: 50px;
  }
  .title-header {
    font-size: 40px;
    line-height: 50px;
  }
  .overlay ul {
    font-size: 30px;
    line-height: 16px;
  }
  .overlay ul li a:after {
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 100%;
  }
  .bg-banner {
    padding: 60px 0;
    height: auto;
  }
}
