@media (min-width: 1024px) {
  .banner-right {
    text-align: start;
  }
  .bg-what-is-moverse {
    min-height: 100vh;
  }
  #change_background {
    height: 100vh;
    padding: 0;
  }
  .slider-content .card-content {
    background-image: url("/images/khung-sneaker.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  .bg-milestone {
    height: 100vh;
    padding: 0;
  }
}
